.footer {
    position: relative;
    bottom: 0;
    background-color: #000;

    display: flex;
    justify-content: center;
    // height: 140px;
    width: 100%;

    padding: 30px 0;

    font-family: 'Montserrat';

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;

    .right {
        display: flex;
        justify-content: end;
        flex-direction: column;

        text-align: end;

        div {
            margin-bottom: 20px;
        }
    }

    a, a:hover, a:focus{ 
        color: #FFFFFF;
        text-decoration: none;
    }
}

@media screen and (max-width: 678px) {
    .left {
        text-align: center;
    }

    .right {
        display: flex;
        justify-content: end;
        flex-direction: column;

        text-align: center;

        div {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}