@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("./reset.css");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #000;
  box-sizing: border-box;
}

body,
div,
section,
footer,
header {
  box-sizing: border-box;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #f8fbfa;
  margin-left: 0;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 30px;
  text-align: center;
  margin-left: 0;
  color: #f8fbfa;
}

.greeen-marker {
  color: #00E091;
  text-decoration: none;
}

.description-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #f8fbfa;
  width: 50%;
  margin-top: 20px;
  height: auto;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 34px;
    text-align: start;
    margin-left: 20px;
    margin: 0;
  }
  h4 {
    font-size: 20px;
    text-align: start;
    margin-left: 20px;
  }
  .description-label {
    font-family: "Montserrat";
    width: 80%;
    font-size: 22px;
    margin-top: 0px;
    text-align: start;
    align-self: start;
  }
}
.custom-button {
  width: 300px;
  height: 60px;
  border-radius: 0;
  margin: 0 20px;
  margin-top: 1em;
  box-sizing: border-box;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 124.02%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  transition: all 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
.custom-button:active {
  transform: scale(0.9);
  transition: all 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}

.greeen-fill {
  background-color: #00E091;
  transition: color 200ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
.greeen-fill:hover {
  background: #f8fbfa;
  color: #00E091;
  transition: color 200ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}

.black-fill {
  transition: all 200ms ease-in-out;
  background-color: #1B1B1B;
}
.black-fill:hover {
  transition: all 200ms ease-in-out;
  color: #00E091;
}

.green-outline {
  transition: all 200ms ease-in-out;
  border: 2px solid #00E091;
}

hr {
  background-color: #00E091;
  opacity: 1;
  height: 2px;
}

.noGap {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  background-color: #1B1B1B;
  min-height: 100vh;
}

.header {
  height: 60px;
  margin: 2.5rem 0;
  box-sizing: border-box;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description {
  flex: 1 1 auto;
}

.header {
  height: 60px;
  margin: 2.5rem 0;
  box-sizing: border-box;
}

.pr16 {
  padding-right: 16px;
}